$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$andadapro:"Andada Pro", serif ;
$inter: "Inter", sans-serif;
$white: #ffffff;
$black: #000000;
$blackbg: #1a2035;
$simpleblack: #8a95a0;
$gray: #f5f7fd;
$blue: #00025c;
$green: #20c997;
$purple: #6610f2;
$cyan: #0dcaf0;
$red: #910101;
$yellow: #fdd701;
$table-header-color: #5d596c;
$table-header-border: #ffffff;
$table-border-color: #5d596c;
$table-bg-transparent: #ffffff;