@import 'utils/variables';



.table-container {
    width: 100%;
    position: relative;

    .details-main-area {
        position: relative;
        overflow: scroll;
        height: 440px;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        scroll-behavior: smooth;

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                padding: 8px;
                border: 1px solid $table-border-color;
            }

            th {
                position: sticky;
                top: 0;
                z-index: 3;
                background-color: $table-header-color;
                color: white;
                border: 1px solid $table-header-border;
            }

            thead th {
                top: auto;
                z-index: 3;
            }

            thead {
                tr {

                    th {
                        height: 50px;

                        .billdetailsinputbox {
                            width: 100%;
                            padding: 2px;
                            font-size: 0.9375rem;
                            font-weight: 400;
                            color: #6f6b7d !important;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #dbdade;
                            border-radius: 6px;
                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        }
                    }
                }
            }

            thead tr:first-child th {
                top: 0;
                border: 1px solid $table-header-border;
            }

            thead tr:nth-child(2) th {
                top: 64px;
                border: 1px solid $table-header-border; // Adjust this value according to the height of the header cells
            }

            
            thead tr th:first-child {
                position: sticky;
                left: 0;
                z-index: 4;
                background-color: $table-header-color;
                color: white;
                border: 1px solid $table-header-border;
            }
            tbody tr td:first-child{
                position: sticky;
                left: 0;
                z-index: 1;
                background-color: $table-bg-transparent;
                color: black;
                border: 1px solid $table-border-color;
            }
            tbody tr:nth-child(2) td:first-child {
                z-index: 2;
            }

            tbody td {
                background-color: $table-bg-transparent;
                height: 50px;
                text-align: center;
                vertical-align: middle;
            }

            thead{
                tr{
                    th{
                        text-align: center;
                        vertical-align: middle;
                        &::after{
                            content: ' ';
                            background: #ffffff;
                            height: 100%;
                            width: 1px;
                            left: -1px;
                            top: 0;
                            bottom: 0;
                            position: absolute;
                        }
                        &::before{
                            content: ' ';
                            background: #ffffff;
                            height: 1px;
                            width: 100%;
                            left: 0;
                            top: -1px;
                            right: 0;
                            position: absolute;
                        }
                        &:nth-child(1){
                            min-width: 40px;
                        }
                        &:nth-child(2){
                            min-width: 200px;
                        }
                        &:nth-child(3){
                            min-width: 100px;
                        }
                        &:nth-child(4){
                            min-width: 150px;
                        }
                        &:nth-child(5){
                            min-width: 100px;
                        }
                        &:nth-child(6){
                            min-width: 120px;
                        }
                        &:nth-child(7){
                            min-width: 170px;
                        }
                        &:nth-child(8){
                            min-width: 150px;
                        }
                        &:nth-child(9){
                            min-width: 120px;
                        }
                        &:nth-child(10){
                            min-width: 170px;
                        }
                        &:nth-child(11){
                            min-width: 150px;
                        }
                        &:nth-child(12){
                            min-width: 120px;
                        }
                        &:nth-child(13){
                            min-width: 120px;
                        }
                        &:nth-child(14){
                            min-width: 120px;
                        }
                        &:nth-child(15){
                            min-width: 120px;
                        }
                        &:nth-child(16){
                            min-width: 120px;
                        }
                        &:nth-child(17){
                            min-width: 120px;
                        }
                        &:nth-child(18){
                            min-width: 120px;
                        }
                        &:nth-child(19){
                            min-width: 120px;
                        }
                        &:nth-child(20){
                            min-width: 120px;
                        }
                        &:nth-child(21){
                            min-width: 120px;
                        }
                        &:nth-child(22){
                            min-width: 120px;
                        }
                        &:nth-child(23){
                            min-width: 120px;
                        }
                        &:nth-child(24){
                            min-width: 120px;
                        }
                        &:nth-child(25){
                            min-width: 120px;
                        }
                        &:nth-child(26){
                            min-width: 120px;
                        }
                    }
                }
            }

        }


    }


    .details-main-area::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    .scroll-gradient {
        position: absolute;
        top: 0;
        bottom: 0;

        pointer-events: none;
        transition: opacity 0.3s;
        z-index: 1;
    }

    .scroll-gradient.left {
        left: 40px;
        background: linear-gradient(to right, rgba(0, 0, 0, .06), rgba(255, 255, 255, 0));
        opacity: 0;
        width: 10px;
    }

    .scroll-gradient.right {
        right: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
        opacity: 1;
        width: 50px;
    }




}