.table-container {
  width: 100%;
  position: relative;
}
.table-container .details-main-area {
  position: relative;
  overflow: scroll;
  height: 440px;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.table-container .details-main-area table {
  width: 100%;
  border-collapse: collapse;
}
.table-container .details-main-area table th,
.table-container .details-main-area table td {
  padding: 8px;
  border: 1px solid #5d596c;
}
.table-container .details-main-area table th {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #5d596c;
  color: white;
  border: 1px solid white;
}
.table-container .details-main-area table thead th {
  top: auto;
  z-index: 3;
}
.table-container .details-main-area table thead tr th {
  height: 50px;
}
.table-container .details-main-area table thead tr th .billdetailsinputbox {
  width: 100%;
  padding: 2px;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #6f6b7d !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdade;
  border-radius: 6px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.table-container .details-main-area table thead tr:first-child th {
  top: 0;
  border: 1px solid white;
}
.table-container .details-main-area table thead tr:nth-child(2) th {
  top: 64px;
  border: 1px solid white;
}
.table-container .details-main-area table thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 4;
  background-color: #5d596c;
  color: white;
  border: 1px solid white;
}
.table-container .details-main-area table tbody tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  color: black;
  border: 1px solid #5d596c;
}
.table-container .details-main-area table tbody tr:nth-child(2) td:first-child {
  z-index: 2;
}
.table-container .details-main-area table tbody td {
  background-color: #ffffff;
  height: 50px;
}
.table-container .details-main-area table thead tr th::after .table-container .details-main-area table thead tr th:nth-child(1) {
  min-width: 40px;
}
.table-container .details-main-area table thead tr th:nth-child(2) {
  min-width: 200px;
}
.table-container .details-main-area table thead tr th:nth-child(3) {
  min-width: 100px;
}
.table-container .details-main-area table thead tr th:nth-child(4) {
  min-width: 150px;
}
.table-container .details-main-area table thead tr th:nth-child(5) {
  min-width: 100px;
}
.table-container .details-main-area table thead tr th:nth-child(6) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(7) {
  min-width: 170px;
}
.table-container .details-main-area table thead tr th:nth-child(8) {
  min-width: 150px;
}
.table-container .details-main-area table thead tr th:nth-child(9) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(10) {
  min-width: 170px;
}
.table-container .details-main-area table thead tr th:nth-child(11) {
  min-width: 150px;
}
.table-container .details-main-area table thead tr th:nth-child(12) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(13) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(14) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(15) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(16) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(17) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(18) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(19) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(20) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(21) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(22) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(23) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(24) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(25) {
  min-width: 120px;
}
.table-container .details-main-area table thead tr th:nth-child(26) {
  min-width: 120px;
}
.table-container .details-main-area::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.table-container .scroll-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
}
.table-container .scroll-gradient.left {
  left: 40px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.06)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0));
  opacity: 0;
  width: 10px;
}
.table-container .scroll-gradient.right {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
  opacity: 1;
  width: 50px;
}